<template name="ownPostsList">
    <div class="container">
        <div>
            <h5 class="steve-note">Steve : !!! Edit the post to publish to front page!!!</h5>
        </div>
        <div class="post-list-container">

            <div id="post-list" class="col-sm-11">
                <div class="posts">
                    {{#each posts}}
                        {{#if myPost}}
                            {{> postItem}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>