<!-- template for the actual post -->

<template name="postItem">
  <div class="post">
    <div class="post-content">
      <h3><a href="{{url}}" target="_blank" class="tracked">{{title}}</a><span style="color:#000000">{{domain}}</span></h3>
        <p>
            <!-- if the post has been published -->
            {{#if publish}}
                Published by
            {{else}}
                Saved by
            {{/if}}
            {{user}} in {{category}}

            <!-- show the edit button if it the user's post -->
            {{#if ownPost}}<a id="edit-button" href="{{pathFor 'postEdit'}}" >Edit</a>{{/if}}
        </p>
    </div>
  </div>
</template>