<template name="about">
    <div class="container">
        <div class="post-list-container">

            <h4 id="h4-centered"> ABOUT US</h4>
            <p><b>What we love</b>
                <ul>
                    <li>Reading great articles</li>
                    <li>Journalists and writers who invest time and effort into their work</li>
                    <li>Being curious about a topic you’ve never heard of</li>
                    <li>Learning something, big or small, useful or useless, from what we read</li>
                    <li>Recommendations, people finding stuff for other people</li>
                    <li>Understanding how and why, not just what</li>
                </ul>
            </p>
            <p><b>What we hate</b>
                <ul>
                    <li>Top 10 lists of things you should or shouldn’t do</li>
                    <li>Recycled press releases</li>
                    <li>Adverts disguised as articles</li>
                    <li>Big algorithms, software serving us irrelevant articles</li>
                    <li>Articles engineered to be ‘shareable’ or ‘viral’</li>
                </ul>

            </p>


        <p><b>Who we are</b></p>
        <p>
        We are Steve and Mark, best friends, comp sci grads and, oddly, accountants who continually talk about building stuff and Steve finally did it!</p>

        <p>We like consuming the news, but with 2 or 3 news apps you can easily stay up to date. What we really love reading, is great articles, the ‘Good
            Stuff’!</p>

        <p>We have always had a ‘knack’ for finding things online, and we each had our own methods of surfacing good reads. Using a combination of blogs, forums, magazines, newspapers and twitter we managed to always have a supply of stuff to read. Usually more than we could get through!</p>

        <p>But it was getting harder all the time, with more and more content pouring onto the internet each day, peoples demand for real-time updates has to some extent driven the quality of reporting down.</p>

        <p>We needed a way to share articles between us so that we could extend our reach, but sites discussed in the pub got forgotten and links emailed or WhatsApp’d got lost. So we decided to build something resembling a shared bookmark list or shared Pocket archive.</p>

        <p>And as with most things, if you are building it to scratch your own itch, it is pretty likely there are other people who will want/use it too. So we decided to make it public and allowing others would also help broaden the scope of articles available.</p>

        <p>So Steve dived headfirst into the world of JavaScript and Meteor for a few weeks and here we are.</p>

        <p>ReadGoodStuff isn’t about breaking news, it will not be the first place you go when a world event happens, but hopefully it will be one of the first places to pop into your mind when you want to read a good quality article, we hope you enjoy it and maybe learn something!</p>
        </div>

    </div>

</template>