<!-- template for the top of the site nav bar -->

<template name="header">
    <div class="navbar navbar-inverse">
        <div class="container">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class = "nav navbar-nav">
                    <li id="all"><a href="/">All</a></li>
                    <li id="tech"><a href="/">Tech</a></li>
                    <li id="business"><a href="/">Business</a></li>
                    <li id="health"><a href="/">Health</a></li>
                    <li id="culture"><a href="/">Culture</a></li>
                    <li id="sport"><a href="/">Sport</a></li>
                    <li id="random"><a href="/">Random</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- if user is logged in then show add post & Filter otherwise sign up -->
                    {{#if currentUser}}

                    <li><a href="{{pathFor 'postSubmit'}}">Add Post</a></li>
                    {{/if}}
                    {{>loginButtons}}

                </ul>
            </div>
        </div>

    </div>

    <div class="container">
        <div id="posts-navbar" class="navbar navbar-default">
            <ul class = "nav navbar-nav navbar-custom">
                <li id="Hottest"><a href="/">Hottest</a></li>
                <li id="Latest"><a href="/">Latest</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/">Filter By
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="T"><a href="#">Today</a></li>
                        <li id="TW"><a  href="#">This Week</a></li>
                        <li id="TM"><a href="#">This Month</a></li>
                        <li id="TY"><a href="#">This Year</a></li>
                        <li id="AT"><a href="#">All Time</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</template>